@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*,
*::before,
*::after{
    padding: 0;
    margin: 0;

    font-family: "Roboto" !important;
}

.map {
    position: relative;
}
.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map svg path {
    fill: none; 	
    pointer-events: all; 
    cursor: pointer; 
    font-family: "Roboto" !important;
}
.map svg path:hover {
    animation: hoverElement 2s linear infinite; 
}
.tooltip {
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    background: #fff;
    color: #000;
    font-size: 14px;
    position: absolute;
    font-family: "Roboto" !important;
}
@keyframes hoverElement { 
    0% {
        stroke: #000000;
    }
    50% {
        stroke: #fc0000;
    }
    100% {
        stroke: #000000; 
    }
}
.info__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s all;
    pointer-events: none;
    z-index: 10;
    font-family: "Roboto" !important;
}
.info__bg.active {
    pointer-events: all;
    opacity: 1;
    transition: 0.3s all;
    font-family: "Roboto" !important;
}
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    width: 820px;
    font-family: "Roboto" !important;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("./../picture/bg_origin.jpg") no-repeat center center;background-size: cover;
    backdrop-filter: blur(8px);
}

.map img{
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
}

.map img,
.map svg{
    width: 800px !important;   
    height: 500px !important;
}

.camping_room{
    transform: translate(17px, 2px) scale(1.1);
}

.camping_table{
    transform: translate(17px, 2px) scale(1.1);
}

.camping_wood{
    transform: translate(10px, -30px) scale(1.3);
}

.camping_room_2{
    transform: translate(13px, -45px) scale(1.3);
}

.camping_room_3{
    transform: translate(17px, -48px) scale(1.3);
}

.camping_go{
    transform: translate(130px, 5px) scale(1.1);
}

.info__title{
    margin-top: 15px;
    margin-bottom: 10px;
}